img {
    width: 30px;
    max-height: 45px;
}

form table {
    border: 1px solid black;
}

.symbols {
    min-height: 50px;
}

figure {
    margin: 0;
}

input[type="number"] {
    text-align: center;
    width: 2.5em;
    border: 1px solid black;
}

.boost {
    width: 1em;
    height: 1em;
    background: #87CEFA;
    border: 1px solid black;
}

.setback {
    width: 1em;
    height: 1em;
    background: black;
    border: 1px solid black;
}

.ability {
    width: 0.8em;
    height: 0.8em;
    background: green;
    border: 1px solid black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.difficulty {
    width: 0.8em;
    height: 0.8em;
    background: purple;
    border: 1px solid black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.proficiency {
    position: relative;
    width: 1em;
    height: 0.6em;
    background-color: #ffff00;
    margin: 4.62px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
}

.proficiency:before,
.proficiency:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 11.31px;
  height: 11.31px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.3431px;
}

.proficiency:before {
  top: -5.6569px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
}

.proficiency:after {
  bottom: -5.6569px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
}

.challenge {
    position: relative;
    width: 1em;
    height: 0.6em;
    background-color: red;
    margin: 4.62px 0;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.challenge:before,
.challenge:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 11.31px;
  height: 11.31px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.3431px;
}

.challenge:before {
  top: -5.6569px;
  border-top: solid 1.4142px black;
  border-right: solid 1.4142px black;
}

.challenge:after {
  bottom: -5.6569px;
  border-bottom: solid 1.4142px black;
  border-left: solid 1.4142px black;
}
